USE [master]
GO
/****** Object:  Database [TifulGemel]    Script Date: 4/28/2022 1:51:12 AM ******/
CREATE DATABASE [TifulGemel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TifulGemel', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TifulGemel.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TifulGemel_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TifulGemel_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TifulGemel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TifulGemel]
GO
/****** Object:  Table [dbo].[Deposits]    Script Date: 4/28/2022 1:51:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deposits](
	[DepositId] [int] IDENTITY(1,1) NOT NULL,
	[IDNumber] [varchar](16) NULL,
	[BirthDay] [datetime] NULL,
	[DepositDate] [datetime] NULL,
	[Amount] [money] NULL,
 CONSTRAINT [PK_Deposits] PRIMARY KEY CLUSTERED 
(
	[DepositId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
